
{%extends 'base.html'%}

{%block content%}
<!-- <h1 class="te">this index page ... obeid </h1> -->
<!-- <div class="btn btn-success mb-lg-4 mt-lg-3">total of Board is : {{board.count}}</div> -->


<h5><div class="alert alert-success text-dark">منتدى لغات البرمجة للمناقشة </div></h5>
<table class="table mt-lg-4 table-bordered text-lg-center">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">No</th>
        <th scope="col">المنتدى</th>
        <th scope="col">م العموضوعات </th>
        <th scope="col">الموضوع الاخير </th>
        <th scope="col">آخر اضافة  </th>
        <th scope="col">أخر موضوع تمتة اضافته  </th>
       
      </tr>
    </thead>
    <tbody>

        {% for n in Data %}
   
        <tr>
          <td  scope="col "><a >{{n.id}}</a></td>
          <td  scope="col " ><a style="color:blue;font-size: 12px;text-decoration: none;" href="{% url 'list_Topic' n.id%}">{{n.board}}</a></td>
          <td  scope="col "><a >{{n.Topic_Board.count}}</a></td>
          <td  scope="col "><a >{{n.describtion|slice:25}}</a></td>
          
          <td scope="col"><a>
          <!-- {{n.Topic_Board.count}}  -->

          {% with post=n.get_last_topic%}
          {%if post%}
          by {{post.create_by.username}} at {{post.create_dt}}
         {%else%}
          <small>No Posts</small>
          {%endif%}
          {%endwith%}


          </a></td>
          <td scope="col"><a>
            

            {{n.get_last_topic}}
         
          </a>
              
          
          </td>



          
         
        </tr>
     {% endfor %}
    </tbody>
  </table>


{%endblock%}