
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body  class="container" dir="rtl" style="font-family: 'Cairo';">
    <nav class="navbar navbar-expand-lg  text-white bg-white">
        <a class="navbar-brand" href="#">نظام المناقشة </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> Hello </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link">الرئيسية <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">أضافة موضوع جديد </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">البحث عن موضوع </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">تسجيل في الموقع </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">الدخول </a>
            </li>
          </ul>
        </div>
      </nav>
    

    {%block content%}
    {%endblock%}
</body>
</html>