
{%extends 'base.html'%}

{%block content%}
<!-- <h1 class="te">this index page ... obeid </h1> -->
<!-- <div class="btn btn-success mb-lg-4 mt-lg-3">total of Board is : {{board.count}}</div> -->


<h2><div class="alert alert-primary text-danger"><i  class="fa fa-book" aria-hidden="true"> this Board Category </i></div></h2>
<table class="table mt-lg-4">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name of Board</th>
        <!-- <th scope="col">post</th> -->
        <th scope="col">last Post on this Topic </th>
        <th scope="col">Date of  last Entirey </th>
        <th scope="col">count of Topic  </th>

      
      </tr>
    </thead>
    <tbody>

        {%for n in board%}
   
        <tr>
          <td  scope="col "><a href="{% url 'topic' n.id%}">{{n.id}}</a></td>
          <td style="font-weight: bold;" scope="col"><a href="{% url 'topic' n.id %}">{{n.board}} >> <span style="color:Red">Count_Topic</span>({{n.get_total_topic}})</a>
          <!-- <th scope="col"><a href="{% url 'topic' n.id%}">{{n.get_total_topic}}</a></th> -->
          
          <th scope="col"><a href="{% url 'topic' n.id%}">
            {% with topic=n.get_last_topic%}
            {{topic.message}}
            {%endwith%}

          </a></th>
          <th scope="col"><a href="{% url 'topic' n.id%}">

            {% with post=n.get_last_topic%}
            Created _by : {{post.create_by}}<p style="color: Red;"> ON {{post.create_dt}}</p>
            {%endwith%}

          </a>
              
          
          </th>
          <th scope="col"><a href="{% url 'topic' n.id%}">{{n.id.count}}</a></th>



          </td>
         
        </tr>
     {%endfor%}
    </tbody>
  </table>


{%endblock%}