{%extends 'base.html'%}

{%block content%}

<div class="btn btn-success mb-lg-4 mt-lg-3">Add New Post</div>
<table class="table mt-lg-4">
  <thead class="bg-dark text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">topic</th>
      <th scope="col">create_by</th>
      <th scope="col">create_dt </th>
      <th scope="col">topic </th>
      <th scope="col">view </th>
    </tr>
  </thead>
  <tbody>
<!-- 
    message=models.TextField(max_length=4000)
    topic=models.ForeignKey(topic,related_name='topics',on_delete=models.CASCADE)
    create_by=models.ForeignKey(User,related_name='topic',on_delete=models.CASCADE)
    create_dt=models.DateTimeField(auto_now_add=True) -->

      {%for n in mypost.all%}
 
      <tr>
        <td scope="col"><a href="{% url 'DetailsPost' n.id%}">{{n.message}}</a></td>
        <td scope="col"><a href="{% url 'topic' n.id%}">{{n.create_by}}</a></td>
        <td scope="col"><a href="{% url 'topic' n.id%}">{{n.create_dt}}</a></td>
      
        <!-- <td scope="col"><a href="{% url 'topic' n.id%}">{{n.get_count_tpoic}}</a></td> -->
        <!-- <td scope="col"><a href="{% url 'topic' n.id %}">{{n.topboard}}</a><br>
        <p class="text-success">{{n.toptitle |slice:30}}</p>
        </td>
        <th scope="col">{{n.topcreated_by}}</th>
        <th scope="col">{{n.topdate_add}}</th> -->
        <!-- <th scope="col">{{board.count}}</th> -->
        <!-- <th scope="col"><a href="{% url 'topic' n.id%}">{{n.get_total_topic}}</a></th> -->
        
        
        <!-- <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topics.id}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{user}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topics.id}}</a></th> -->
      </tr>
   {%endfor%}
  </tbody>
</table>


{%endblock%}


