{%extends 'base.html'%}

{%block content%}

<div class="btn btn-primary mb-lg-4 mt-lg-3">Add New Topic </div>
<!-- <h1>this Posts for {{myboard.board}}</h1> -->
<table class="table mt-lg-4">
  <thead class="bg-dark text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name of topic</th>
      <th scope="col">name Board</th>
      <th scope="col">post </th>
      <th scope="col">view </th>
      <th scope="col">Created by </th>
      <th scope="col">created date </th>
    </tr>
  </thead>
  <tbody>

    <!-- topboard=models.ForeignKey(board,related_name='topics',on_delete=models.CASCADE)
    toptitle=models.CharField(max_length=100)
    topdis=models.TextField(max_length=4000)
    topcreated_by=models.ForeignKey(User,related_name='topics',on_delete=models.CASCADE)
    topdate_add=models.DateTimeField(auto_now_add=True) -->

      {%for n in mytopic.all%}
 
      <tr>
        <td scope="col"><a href="#">{{n.id}}</a></td>

        <td scope="col"><a href="{% url 'post' n.id %}">{{n.toptitle}}</a><br>
        <!-- <p class="text-success">{{n.toptitle |slice:30}}</p> -->
        </td>
        <!-- <th scope="col">{{n.topcreated_by}}</th> -->
        <th scope="col">{{n.topdate_add}}</th>
        <!-- <th scope="col">{{board.count}}</th> -->
        <th scope="col"><a href="{% url 'topic' n.id%}">{{n.get_count_topic}}</a></th>
        
        
        <!-- <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topics.id}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{user}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topics.id}}</a></th> -->
      </tr>
   {%endfor%}
  </tbody>
</table>


{%endblock%}


