{%extends 'base.html'%}

{%block content%}

<div class="btn btn-success mb-lg-4 mt-lg-3">Add New Post</div>
<h1>this Posts for {{mytopic.board}}</h1>
<table class="table mt-lg-4">
  <thead class="bg-dark text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name of Board</th>
      <th scope="col">Count_of_ Post</th>
      <th scope="col">Count of views </th>
      <th scope="col">Created by </th>
      <th scope="col">created date </th>
    </tr>
  </thead>
  <tbody>

      {%for n in mytopic%}
 
      <tr>
        <td scope="col"><a href="{% url 'topic' n.id%}">{{n.toptitle}}</a></td>

        <td scope="col"><a href="{% url 'topic' n.id %}">{{n.topboard}}</a><br>
        <p class="text-success">{{n.topdis |slice:30}}</p>
        </td>
        <!-- <th scope="col">{{n.describtion}}</th> -->
        <!-- <th scope="col">{{n.count}}</th> -->
        <!-- <th scope="col">{{board.count}}</th> -->
        <!-- <th scope="col"><a href="{% url 'topic' n.id%}">{{n.get_total_topic}}</a></th> -->
        
        
        <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topcreated_by}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{user}}</a></th>
        <th scope="col"><a href="{% url 'topic' n.id%}">{{n.topdate_add}}</a></th>
      </tr>
   {%endfor%}
  </tbody>
</table>


{%endblock%}


